# database connections
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=

# auth
JWT_SECRET_KEY=

# mail
MAIL_PASS="your-16-digit-app-password" # Generated in Google Account > Security
MAIL_SENDER="your-gmail@gmail.com"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
